{% extends "index.html.twig" %}

{% block body %}

<div class="container">
    <h1>{{book.getTitle}}</h1>
    <p>
        {{book.getAuthor}}
        <form action="/update_book/{{book.getId}}" method="post">
            <input name="_method" type="hidden" value="patch">
            <label for="checkout_date">current checkout date {{book.getCheckoutDate}}</label><br>
            <label for="checkout_date">Enter new checkout date</label><br>
            <input type="date" name="checkout_date"><br>
            <label for="checkout_date">current due date {{book.getDueDate}}</label><br>
            <label for="due_date">Enter new due date</label><br>
            <input type="date" name="due_date">
            <button type="submit">update</button>
        </form>
    </p>
    {% if patrons is not empty %}
    <h1>checkout book</h1>
    <form action="/add_patron_to_book/{{book.getId}}" method="post">
        <select name="patron_id">
            {% for patron in patrons %}
            <option value="{{patron.getId}}">{{patron.getName}}</option>
            {% endfor %}
        </select>
        <button type="submit">Checkout</button>
    </form>
    {% endif %}
    <a href="/"><button>home</button></a>
</div>

{% endblock %}
