{% extends "index.html.twig" %}

{% block body %}

<div class="container">
    <h1>{{book.getTitle}}</h1>
    <p>
        {{book.getAuthor}}
        {{book.getCheckoutDate}}
        {{book.getDueDate}}
    </p>
    {% if patrons is not empty %}
    <h1>checkout book</h1>
    <form action="/add_patron_to_book/{{book.getId}}" method="post">
        <select name="patron_id">
            {% for patron in patrons %}
            <option value="{{patron.getId}}">{{patron.getName}}</option>
            {% endfor %}
        </select>
        <button type="submit">Checkout</button>
    </form>
    {% endif %}
    <a href="/"><button>home</button></a>
</div>

{% endblock %}
